<div class="container">
  <div class="form-wrapper" style="width:500px; margin: 0 auto;">
    <h1>Choose your dates</h1>
    <%= simple_form_for [@bike, @booking] do |t| %>
    <%= t.input :start_date, as: :string, input_html: {class: "datepicker" }%>
    <%= t.input :end_date, as: :string, input_html: {class: "datepicker"}%>
    <%= t.submit "Go", class: "btn btn_primary" %>
    <% end %>
   </div>
</div>
