
<div class="container" style="height: 100%;">

<h1>Welcome to Bikify</h1>
<p><strong>Find a bike where ever you are!</strong></p>

<div  class="nav-item" id="index-btn">
  <%= link_to "View Bikes", bikes_path %>
</div>



</div>


