<div class="container">
  <h1>Bikes Overview</h1>
  <p>Bike 1</p>
</div>


<!-- Use for the card display and try to make it work -->
<!--   <div class="row d-flex justify-content-center justify-content-sm-start bottom">
    <%# @bikes.each do |bike| %>
      <div class="card-bike col-md-auto">
        <div class="card-bike-infos">
          <h2 class="bike-title"><%#= "Bike 1" %></h2>
          <h3 class="price"><%#= "10 €"%></h3>
        </div>
      </div>
    <#% end %>
  </div> -->

